<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Input Only Number</h1>
  <br/>
  <h2>Only Integers</h2>
  <input id="only-integer-value"
        type="text"
        #inputInteger  
        inputNumber
        [formControl]="valueInteger">
  <div class="display-integer-value">
    {{ inputInteger.value }}
  </div>
  <div>
    Is dirty: {{valueInteger.dirty}}
  </div>
  <br/>
  <h2>Decimal Numbers</h2>
  <input id="only-decimal-value" 
        type="text"
        #inputDecimal 
        inputNumber
        [acceptDecimalPlaces]="true"
        [decimalPlaces]="3"
        [formControl]="valueDecimal">
  <div class="display-decimal-value">
    {{ inputDecimal.value }}
  </div>
  <div>
    Is dirty: <span class="decimal-is-dirty">{{valueDecimal.dirty}}</span>
  </div>
  <div>
    Last Change: <span class="display-last-decimal-value">{{lastChangeDecimal}}</span>
  </div>
</div>