<!--The content below is only a placeholder and can be replaced.-->
<div class="mx-auto">
  <hr />
  <h3>Integer Number</h3>
  <hr />
  <div class="form-group">
    <label>
      Integer
    </label>
    <input id="only-integer-value" type="text" class="form-control" #inputInteger inputNumber
      [formControl]="valueInteger">
    <small>
      <i><b>Status</b>: {{valueInteger.status }} </i>
      <i><b>Dirty</b>: {{valueInteger.dirty }} </i>
      <i><b>Touched</b>: {{valueInteger.touched }} </i>
    </small>
  </div>
  <div>
      Input Value:<span class="display-integer-value">{{ inputInteger.value }}</span>
  </div>
  <br />
  <hr />
  <h3>Decimal Number</h3>

  <hr />
  <div class="form-group">
    <label>Decimal (3 decimal places)</label>
      <input id="only-decimal-value" type="text" class="form-control" #inputDecimal inputNumber [acceptDecimalPlaces]="true"
      [decimalPlaces]="3" [formControl]="valueDecimal" (change)="onDecimalChange(inputDecimal.value)">
      <small>
          <i><b>Status</b>: {{valueDecimal.status }} </i>
          <i><b>Dirty</b>: {{valueDecimal.dirty }} </i>
          <i><b>Touched</b>: {{valueDecimal.touched }} </i>
        </small>
  </div>
  <div>
    Input Value: <span class="display-decimal-value">{{ inputDecimal.value }}</span>
  </div>
  <div>
    Last Change: <span class="display-last-decimal-value">{{lastChangeDecimal}}</span>
  </div>
</div>
